<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Required Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

        <title>The OSGD Collection</title>
    </head>

    <body>
        {% for repo in osgd %}
            <a href={{repo.html_url}} target="_blank">{{repo.name}}</a>
            <p>Owner: {{repo.owner.login}}</p>
            <p>Language: {{repo.language}}
            <hr>
        {% endfor %}
    </body>
</html>